# CAS SAMPLE ENV FILE for Frederick, MD
RAILS_ENV=development
HOSTNAME=frederick-cas.dev.test
FQDN=frederick-cas.dev.test
PORT=80
DEFAULT_FROM='"No Reply" <no-reply@frederick-cas.org>'
CLIENT=Frederick CAS
LOGO=
TIMEZONE=America/New_York

# Mail
SMTP_SERVER=mailhog
SMTP_DOMAIN=frederick-cas.dev.test
SMTP_PORT=1025
MAIL_DELIVERY_METHOD=smtp

# Database
DATABASE_ADAPTER=postgresql
DATABASE_APP_DB=development_frederick_cas
DATABASE_WAREHOUSE_DB=development_frederick_warehouse
DATABASE_HOST=db
DATABASE_PORT=
DATABASE_USER=postgres
DATABASE_PASS=postgres
DATABASE_DB_TEST=frederick_cas_test
DATABASE_WAREHOUSE_DB_TEST=frederick_warehouse_test

# Exceptions
EXCEPTION_WEBHOOK_URL=
EXCEPTION_WEBHOOK_CHANNEL=
EXCEPTION_WEBHOOK_ICON=

# Cache store
CACHE_HOST=redis
CACHE_PORT=6379
CACHE_DB=4

# Other settings
# SANDBOX_RECIPIENTS=
# SANDBOX_WHITELIST=

SECRETS_YML_SECRET_ARN=
